@tailwind base;
@tailwind components;
@tailwind utilities;

.outlineT {
  font: 800 80px Arial;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
}

/* .outlineT { */
/*     font-weight: bolder;  */
/*     text-shadow:  */
/*         -1px -1px 0 black, */
/*         -1px 1px 0 black, */
/*         1px -1px 0 black, */
/*         1px 1px 0 black; */
/* } */

.white:hover {
  -webkit-text-fill-color: white;
}

.black:hover {
  -webkit-text-fill-color: black;
  /* linear-gradient(45deg, blue, red); */
}

svg {
  font:
    bold 90px Inter,
    Arial;
  width: 100%;
  height: 120px;
}

